@import "tailwindcss";

:root{
    --kuromi-black: #363232;
    --kuromi-mid-black: #565656;
    --kuromi-lite-black: #6b6b6b;
    --kuromi-dark-pink: #eea1e3;
    --kuromi-pink: #f4b5eb;
    --kuromi-purple: #8260a2;
    --kuromi-gray: #eeeeee;
}

#root{
    background: var(--kuromi-pink);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}